@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

.myDiv {
  background-color: rebeccapurple;
  border: solid 2px rebeccapurple;
  @include border-radius(19px);
}
